<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Country</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/style/index.css">
</head>
<body>
    <h1>Search Country Information</h1>
    <div class="search-container">
        <label for="nameCountry">Country name</label>
        <input type="text" placeholder="Enter name country to search" id="nameCountry">
        <br>
        <button onclick="startSearch()">Search</button>
    </div>
</body>
</html>
